<form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-horizontal">

  <div class="form-group" [ngClass]="{
        'has-error' : validaNome(nome),
        'has-feedback' : validaNome(nome)  
      }">

    <div class="col-sm-12">
      <label for="nome" class="control-label">Nome</label>
    </div>

    <div class="col-sm-12">
      <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu nome" [ngModel]="usuario.nome" required
        #nome="ngModel">

      <span *ngIf="validaNome(nome)" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
      <span *ngIf="validaNome(nome)" id="nome" class="sr-only">(error)</span>
      <div *ngIf="validaNome(nome)">
        <div class="alert alert-danger">
          <strong>Atenção!</strong> O campo nome deve ser preenchido! </div>
      </div>
    </div>

  </div>

  <div class="form-group" [ngClass]="{
    'has-error' : validaEmail(email),
    'has-feedback' : validaEmail(email)  
  }">
    <div class="col-sm-12">
      <label for="email" class="control-label">Email</label>
    </div>
    <div class="col-sm-12">

      <input type="email" class="form-control" id="email" name="email" placeholder="nome@email.com" [ngModel]="usuario.email" required
        email #email="ngModel">

      <span *ngIf="validaEmail(email)" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
      <span *ngIf="validaEmail(email)" class="sr-only">(error)</span>
      <div *ngIf="validaEmail(email)">
        <div class="alert alert-danger">
          <strong>Atenção!</strong> O campo email deve ser preenchido corretamente! </div>
      </div>
    </div>
  </div>

  <div class="form-group"[ngClass]="{
    'has-error' : validaCep(cep),
    'has-feedback' : validaCep(cep)
  }">
    <div class="col-md-3">
      <label for="cep" class="control-label">CEP</label>
      <input type="text" class="form-control" id="cep" name="cep" ngModel required #cep="ngModel"> 

      <span *ngIf="validaCep(cep)" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
      <span *ngIf="validaCep(cep)" class="sr-only">(error)</span>
      <div *ngIf="validaCep(cep)">
        <div class="alert alert-danger">
          O campo de CEP é obrigatório! </div>
      </div>
    </div>
  </div>
  <button [disabled]="!f.valid" type="submit" class="btn btn-default">Submit</button>

  <app-form-debug [form]="f"></app-form-debug>

</form>